/*alright*/
.fileimagescreen{
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:auto;
    
    /*text specifics*/
    }

/*main body set up for the jaredpage#*/
.maintheme{
    background-color:black;
    /*text specifics*/
    color:white;
    font-size:12;
    /*margin*/
    margin-top:10%;
    margin-left:10%;
    margin-right:10%;
    margin-bottom:10%;

   }
/*needed for some reason*/
/*body,html{
height:100%;
width:100%;
}*/

/*background image for front page*/
  .backgroundimage1{
    background-image: url('https://github.com/agonoude/jaredstory/blob/main/windowsbackground.png?raw=true');
    height: 100%;    
    background-repeat: no-repeat;
    background-size: cover;
}

/*file image positioning on page 1*/
.imgpos1{
    margin-top:100px;
    margin-left:150px;
}

/*text information for jaredpages*/
.narratortext{
font-family:Cambria, serif;
font-size: 16
}

/*response tags for player*/

/*parent div boxes*/
/*.float-parent-element { 
    width: 50%; 
}/*

/*child div boxes*/
.float-parent-element { 
        display:flex;
        justify-content: space-evenly;
        background-color: skyblue;
        width:250px;
        margin:auto;
} 

/*response tags*/

.yesresponse { 
    background-color: seagreen;
    width:200px;
    margin:10px;
    position:relative;

     /*text information*/
     text-align: center;
     font-size:12;
     font-family:times new roman;
    /** background-color:rgb(46, 44, 44);**/
     color:white;

}

.noresponse { 
        background-color: pink;
        width: 200px;
        margin: 10px;
        position:relative;
    /*text information*/
    text-align: center;
    font-size:12;
    font-family:times new roman;
   /** background-color:rgb(46, 44, 44);**/
    color:white;
}



    /*background-color: green; 
    margin-left: 50%; 
    height: 100px; 
    
    /*text information*/
   /* text-align: center;
    font-size:12;
    font-family:times new roman;
   /** background-color:rgb(46, 44, 44);**/
 /*   color:white; */





/*right response*/
.noresponse{ 
    margin-left: 50%; 
    height: 100px; 
    background-color: red; 

    /*text information*/
    text-align: center;
    font-size:12;
    font-family:times new roman;
   /** background-color:rgb(46, 44, 44);**/
    color:white;

}












/*test for response text*/
/*.responsetext{
font-size:12;
font-family:times new roman;
background-color:rgb(46, 44, 44);
color:white;
}*/

.responsetextint:hover{
background-color:rgb(83, 47, 47);
color:red;
}

/*jared text*/
.jaredtext{
/*text specifics*/
font-family: comicsansms;
text-align: center;
}

/*.jaredspacing{
color:black;
font-family:comicsansms;
background-color: red;

}*/


/*jared ascii figure*/
.smalljared{
    /*font*/
    font-size:16;
    text-align:center;


}


/*test for hover function*/

.divtest {
    background-color: purple;
    padding: 20px;
    display: none;
  }
    
  .divtest2:hover + .divtest {
    display: block;
  }







