/*alright*/

.firstpage{
background-image: url('https://github.com/agonoude/jaredstory/blob/main/windowsbackground.png?raw=true');
background-size: cover;
}

.maintheme{
    background-color:black;
    /*text specifics*/
    color:white;
    font-size:12;
    /*margin*/
    margin-top:100px;
    margin-left:150px;
    margin-right:150px;
    margin-bottom:100px;
   }

.fileimagescreen{
margin-left:auto;
margin-right:auto;
margin-top:auto;
margin-bottom:auto;

/*text specifics*/
}


.narratortext{
font-family:Cambria, serif;
font-size: 16
}


.responsetext{
font-size:12;
font-family:times new roman;
background-color:rgb(46, 44, 44);
color:white;
}

.responsetextint:hover{
background-color:rgb(83, 47, 47);
color:red;

}


.jaredtext{
/*text specifics*/
font-family: comicsansms;

}

/*.jaredspacing{
color:black;
font-family:comicsansms;
background-color: red;

}*/



.smalljared{

/*font*/
font-size:16;
text-align:center;


}



