/*alright*/

.maintheme{
background-color:black;
/*text specifics*/
color:white;
font-size:12;
/*margin*/
margin-top:100px;
margin-left:150px;
margin-right:150px;
margin-bottom:100px;
}

.narratortext{
font-family:Cambria, serif;
font-size: 16
}

.jaredtext{
/*text specifics*/
font-family: comicsansms;

}

/*.jaredspacing{
color:black;
font-family:comicsansms;
background-color: red;

}*/



.smalljared{

/*font*/
font-size:16;
text-align:center;


}



